.mark-w[data-v-3b554894] {
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
}

.more-w[data-v-4c7a3497] {
  position: absolute;
  top: 2%;
  right: 2%;
  width: 30px;
  height: 30px;
  background-color: var(--b2-bg);
  border-radius: 20px;
  box-shadow: 0 0 5px #ccc;
  z-index: 200;
  opacity: 0;
}
.icon-more[data-v-4c7a3497] {
  width: 30px;
}

.el-image[data-v-0bd98688] {
  width: 100%;
}
.el-image[data-v-0bd98688] img.el-image__inner {
  width: 92%;
  height: 155px;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}
.pic-tit[data-v-0bd98688] {
  padding: 10px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-bottom: 1px dashed #f2f2f2;
}
.time-span[data-v-0bd98688] {
  position: absolute;
  padding: 2px 6px;
  background: var(--b2-btn-time);
  border-radius: 8px;
  margin-left: 0;
  font-size: 0.5rem;
  font-weight: 700;
  color: #fff;
  bottom: 32%;
  right: 6%;
  -webkit-backdrop-filter: saturate(180%) blur(20px);
          backdrop-filter: saturate(180%) blur(20px);
  z-index: 2;
}
[data-v-0bd98688]:hover .more-w,[data-v-0bd98688]:hover .el-checkbox__inner {
  box-shadow: 0 0 5px 0 #ccc;
  transition: all 0.4s ease-in;
  opacity: 1;
}

