.compress-remind[data-v-3dd2e005] {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
  line-height: 20px;
}
.upload-w[data-v-3dd2e005] {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  margin-bottom: 50px;
}
.upload-w[data-v-3dd2e005] .el-upload-dragger {
  background-color: var(--b2-pre-bg);
}
.upload-w[data-v-3dd2e005] .el-upload__tip {
  display: flex;
  justify-content: space-between;
}
.upload-w[data-v-3dd2e005] .el-upload__tip .el-tag {
  cursor: pointer;
}
.remind-upload-file[data-v-3dd2e005] {
  text-align: center;
}
[data-v-3dd2e005] .el-radio-button__inner {
  background-color: var(--b2-pre-bg);
  border: 1px solid var(--b2-border);
  color: var(--bg-text);
}
.el-radio-button:first-child .el-radio-button__inner[data-v-3dd2e005] {
  border-radius: 40px !important;
}
h3[data-v-3dd2e005] {
  text-align: center;
  font-size: 18px;
}
.res-upload[data-v-3dd2e005] {
  text-align: center;
}
.res-upload .res-content[data-v-3dd2e005] {
  position: relative;
  width: 50%;
  margin: 20px auto;
  box-shadow: 0 0 2px #dddbdb;
  border: 1px dashed #ccc;
  height: 50px;
  line-height: 50px;
  padding: 0 30px 0 10px;
}
.res-upload .res-content p[data-v-3dd2e005] {
  word-break: keep-all;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.copy-view[data-v-3dd2e005] {
  position: absolute;
  top: calc(50% - 10px);
  right: 10px;
  width: 20px;
  z-index: 2;
  cursor: pointer;
}
.copy-view[data-v-3dd2e005]:hover {
  transition: all 0.3s cubic-bezier(0.25, 0.88, 1, 1);
  width: 22px;
}
@media only screen and (max-width: 537px) {
.upload-w[data-v-3dd2e005] {
    margin-bottom: 50px;
}
.upload-w[data-v-3dd2e005] .el-upload-dragger {
    width: 90vw;
    height: 253px;
}
h3[data-v-3dd2e005] {
    display: none;
}
}

