.upload-tg[data-v-05829ee8] {
  position: absolute;
  right: -17px;
  bottom: -7px;
  width: 46px;
  height: 26px;
  color: #fff;
  text-align: center;
  transform: rotate(-45deg);
}
.upload-tg svg[data-v-05829ee8] {
  transform: rotate(45deg);
}
.icon-1[data-v-05829ee8] {
  -webkit-animation: rotate-data-v-05829ee8 2s infinite;
          animation: rotate-data-v-05829ee8 2s infinite;
}
@-webkit-keyframes rotate-data-v-05829ee8 {
0% {
    transform-origin: center;
    transform: rotate3d(0, 0, 1, -200deg);
}
100% {
    transform-origin: center;
    transform: none;
}
}
@keyframes rotate-data-v-05829ee8 {
0% {
    transform-origin: center;
    transform: rotate3d(0, 0, 1, -200deg);
}
100% {
    transform-origin: center;
    transform: none;
}
}

.upload-i[data-v-6fa37f62] {
  width: 48%;
  position: relative;
  overflow: hidden;
  background-color: var(--b2-pre-bg);
  border: 1px solid #c0ccda;
  border-radius: 6px;
  box-sizing: border-box;
  margin-top: 10px;
  padding: 10px 10px 10px 90px;
  height: 92px;
}
.upload-i img[data-v-6fa37f62] {
  vertical-align: middle;
  display: inline-block;
  width: 70px;
  height: 70px;
  float: left;
  position: relative;
  z-index: 1;
  margin-left: -80px;
  -o-object-fit: cover;
     object-fit: cover;
  background-color: var(--b2-pre-bg);
  cursor: pointer;
}
.upload-i .up_title[data-v-6fa37f62] {
  margin-top: 10px;
  margin-left: 13px;
  padding-bottom: 2px;
  color: #606266;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: color 0.3s;
  white-space: nowrap;
}
.upload-i svg[data-v-6fa37f62] {
  position: absolute;
  top: 4%;
  right: 2px;
  cursor: pointer;
}
.upload-i svg[data-v-6fa37f62]:hover {
  transition: all 0.2s ease-in;
  width: 23px;
  height: 23px;
}
.upload-i .config-warp[data-v-6fa37f62] {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 30px;
}
.up-span[data-v-6fa37f62] {
  margin: 30px 10px 0 10px;
  cursor: pointer;
  padding: 3px 5px;
  background-color: var(--b2-main-span);
  border-radius: 2rem;
  color: var(--bg-text);
}
.home-md.mark-w[data-v-6fa37f62] {
  position: absolute;
  top: 10%;
  right: 2%;
  justify-content: flex-end;
  cursor: pointer;
}
.home-md.mark-w[data-v-6fa37f62] svg {
  margin-left: 20px;
}
.home-md.mark-w[data-v-6fa37f62] svg:hover {
  width: 28px;
  height: 28px;
  transition: all 0.5s inherit;
}

svg[data-v-68280400] {
  cursor: pointer;
  border: 1px solid #d5d5d5;
  border-right: 0;
  padding: 2px;
}
.text-set[data-v-68280400] {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 10px;
}
.text-set[data-v-68280400] .el-color-picker__trigger {
  border-radius: 0;
}
.text-set[data-v-68280400] .el-input__inner {
  width: 168px;
  height: 30px;
}
.text-set[data-v-68280400] .el-select {
  margin: 0 !important;
}
.text-set[data-v-68280400] .el-select /deep/ .el-input__suffix {
  top: 23%;
}

.wm-isshow[data-v-112af39a]{position:fixed;top:0;left:0;right:0;bottom:0;width:930px;max-width:98vw;max-height:98vh;overflow:auto;height:626px;margin:auto;padding-bottom:20px;background:var(--b2-pre-bg);box-shadow:0 0 10px #d2d7ff;border-radius:10px;z-index:2001}h2[data-v-112af39a]{margin:15px 0;font-size:16px;font-family:Microsoft YaHei;font-weight:700;line-height:21px;color:#333}.wm-header[data-v-112af39a]{width:100%;height:40px;background:var(--b2-pre-bg);box-shadow:0 0 10px #d2d7ff;border-radius:10px 10px 0 0;display:flex;justify-content:space-between;align-items:center}.wm-header span[data-v-112af39a]{font-size:16px;font-family:Microsoft YaHei;font-weight:700;line-height:21px;color:#333;margin-left:20px}.wm-main[data-v-112af39a]{display:flex}.wm-main .wm-left[data-v-112af39a]{margin-left:20px;margin-right:50px}.wm-main .wm-left .wm-i-w .el-input[data-v-112af39a]{width:168px;display:inline-block;margin-bottom:15px}.wm-main .wm-left .wm-i-w .el-input[data-v-112af39a] .el-input__inner{height:30px;line-height:30px}.wm-main .wm-left .wm-i-w .el-button[data-v-112af39a]{position:relative}.wm-main .wm-left .wm-i-w .el-button .o-btn1[data-v-112af39a]{position:absolute;top:0;left:0;right:0;bottom:0;opacity:0}.wm-main .wm-right[data-v-112af39a]{width:572px;margin-top:14px}.wm-main .wm-right .preview[data-v-112af39a]{width:100%;height:442px;background:#fdfafe;margin-top:14px;border-radius:4px;display:flex;align-items:center;justify-content:center}.wm-main .wm-right p[data-v-112af39a]{font-size:16px;font-family:Microsoft YaHei;font-weight:700;line-height:21px;color:#333}.wm-active[data-v-112af39a]{opacity:1;transform:all .5s linear;z-index:1999}.noshow[data-v-112af39a]{opacity:.5;pointer-events:none;cursor:not-allowed}.wm-t2[data-v-112af39a]{padding-top:15px;display:flex;justify-content:space-between;align-items:center;border-top:1px solid #f2f2f2}.wm-block[data-v-112af39a] .el-slider__runway{margin:16px 0}.tipsFooter[data-v-112af39a]{display:flex;margin-top:20px}.tipsFooter .true_w[data-v-112af39a],.tipsFooter .cancel[data-v-112af39a]{width:112px;height:40px;border-radius:4px;font-size:14px;font-family:Microsoft YaHei;font-weight:400;line-height:40px;text-align:center;cursor:pointer}.tipsFooter .true_w[data-v-112af39a]{background:var(--b2-theme-c);color:#f2f2f2}.tipsFooter .cancel[data-v-112af39a]{color:var(--b2-theme-c);background:#f2f2f6;margin-right:20px}

.left-upload[data-v-f5260ec0] {
  width: 20vw;
  height: 88vh;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 0 5px 0 rgba(170, 170, 170, 0.251);
  background-color: #fff;
  padding: 20px;
  box-sizing: border-box;
}
.left-upload h2[data-v-f5260ec0] {
  text-align: center;
  margin: 10px 0;
  font-size: 20px;
  border-bottom: 1px dashed #f2f2f2;
  padding-bottom: 20px;
}
.left-upload .temp-content[data-v-f5260ec0] {
  overflow: auto;
  max-height: 90%;
  display: flex;
  flex-direction: column;
}
.left-upload .temp-content .img-item-t1[data-v-f5260ec0] {
  width: 90%;
}
[data-v-f5260ec0] .img-item-t1 {
  position: relative;
  border-radius: 10px;
  box-shadow: 0 0 5px #ccc;
  text-align: center;
  width: 15%;
  padding: 5px;
  box-sizing: border-box;
  margin: 10px;
  cursor: pointer;
}
@media only screen and (max-width: 537px) {
.left-upload[data-v-f5260ec0] {
    display: none;
}
}

.home-w[data-v-3dd2e005] {
  display: flex;
}
.wm-contaniner[data-v-3dd2e005] {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.32);
  z-index: 1999;
}
.compress-remind[data-v-3dd2e005] {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
  line-height: 20px;
}
.btn-upload[data-v-3dd2e005] {
  float: right;
  margin-top: 10px;
  margin-right: 10px;
}
.upload-w[data-v-3dd2e005] {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  margin-bottom: 50px;
}
.upload-w[data-v-3dd2e005] .el-upload-dragger {
  background-color: var(--b2-pre-bg);
}
.upload-w[data-v-3dd2e005] .el-upload__tip {
  display: flex;
  justify-content: space-between;
}
.upload-w[data-v-3dd2e005] .el-upload__tip .el-tag {
  cursor: pointer;
}
.p-upload-hd[data-v-3dd2e005] {
  text-align: right;
  margin: 10px 5px;
}
.remind-upload-file[data-v-3dd2e005] {
  text-align: center;
}
[data-v-3dd2e005] .el-radio-button__inner {
  background-color: var(--b2-pre-bg);
  border: 1px solid var(--b2-border);
  color: var(--bg-text);
}
.el-radio-button:first-child .el-radio-button__inner[data-v-3dd2e005] {
  border-radius: 40px !important;
}
h3[data-v-3dd2e005] {
  text-align: center;
  font-size: 18px;
}
.res-upload[data-v-3dd2e005] {
  text-align: center;
}
.res-upload .res-content[data-v-3dd2e005] {
  position: relative;
  width: 50%;
  margin: 20px auto;
  box-shadow: 0 0 2px #dddbdb;
  border: 1px dashed #ccc;
  height: 50px;
  line-height: 50px;
  padding: 0 30px 0 10px;
}
.res-upload .res-content p[data-v-3dd2e005] {
  word-break: keep-all;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.copy-view[data-v-3dd2e005] {
  position: absolute;
  top: calc(50% - 10px);
  right: 10px;
  width: 20px;
  z-index: 2;
  cursor: pointer;
}
.copy-view[data-v-3dd2e005]:hover {
  transition: all 0.3s cubic-bezier(0.25, 0.88, 1, 1);
  width: 22px;
}
@media only screen and (max-width: 537px) {
.upload-w[data-v-3dd2e005] {
    margin-bottom: 50px;
}
.upload-w[data-v-3dd2e005] .el-upload-dragger {
    width: 90vw;
    height: 253px;
}
h3[data-v-3dd2e005] {
    display: none;
}
}
.upload-wrap[data-v-3dd2e005] {
  margin-top: 10px;
  max-height: 300px;
  width: 70vw;
  box-sizing: border-box;
  overflow-y: auto;
  padding: 10px;
  border: 1px dashed #dbdbf7;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

