.more-w[data-v-4c7a3497] {
  position: absolute;
  top: 2%;
  right: 2%;
  width: 30px;
  height: 30px;
  background-color: var(--b2-bg);
  border-radius: 20px;
  box-shadow: 0 0 5px #ccc;
  z-index: 200;
  opacity: 0;
}
.icon-more[data-v-4c7a3497] {
  width: 30px;
}

.mark-w[data-v-3b554894] {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

.img-item-t1[data-v-0bd98688] {
  position: relative;
  border-radius: 10px;
  box-shadow: 0 0 5px #ccc;
  text-align: center;
  width: 15%;
  padding: 5px;
  box-sizing: border-box;
  margin: 10px;
  cursor: pointer;
}
.img-item-t1[data-v-0bd98688]:hover {
  box-shadow: 0 0 12px #ccc;
}
.img-item-t1:hover .more-w[data-v-0bd98688] {
  transition: all 0.4s linear;
  opacity: 1;
}
.img-item-t1 .el-image[data-v-0bd98688] {
  width: 100%;
}
.img-item-t1 .el-image[data-v-0bd98688] img.el-image__inner {
  width: 92%;
  height: 155px;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}
.img-item-t1 .pic-tit[data-v-0bd98688] {
  padding: 10px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-bottom: 1px dashed #f2f2f2;
}
.time-span[data-v-0bd98688] {
  position: absolute;
  padding: 2px 6px;
  background: var(--b2-btn-time);
  border-radius: 8px;
  margin-left: 0;
  font-size: 0.5rem;
  font-weight: 700;
  color: #fff;
  bottom: 32%;
  right: 6%;
  -webkit-backdrop-filter: saturate(180%) blur(20px);
          backdrop-filter: saturate(180%) blur(20px);
  z-index: 2;
}
@media only screen and (max-width: 820px) {
.img-item-t1[data-v-0bd98688] {
    width: 30%;
}
}
@media only screen and (max-width: 537px) {
.img-item-t1[data-v-0bd98688] {
    margin: 5px;
    width: 45%;
}
.img-item-t1 img[data-v-0bd98688] {
    width: 100%;
    height: 120px;
}
.img-item-t1 .time-span[data-v-0bd98688] {
    display: none;
}
}

.img-m[data-v-2b1aa1d7] {
  position: relative;
  padding-bottom: 20px;
}
.img-m .el-input[data-v-2b1aa1d7] {
  width: 340px;
}
.img-m .el-button[data-v-2b1aa1d7] {
  margin-left: 10px;
}
.img-m .el-pagination[data-v-2b1aa1d7] {
  position: absolute;
  bottom: 20px;
  left: 20px;
  z-index: 2;
}
.inp-w[data-v-2b1aa1d7] {
  width: 100%;
  padding-bottom: 20px;
  border-bottom: 1px solid #f2f2f2;
}
.inp-w .el-tag[data-v-2b1aa1d7] {
  margin-right: 10px;
  cursor: pointer;
}
.svg-w[data-v-2b1aa1d7] {
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}
.svg-w div[title][data-v-2b1aa1d7] {
  margin: 0 5px;
  width: 30px;
  cursor: pointer;
}
.svg-w div[title] svg[data-v-2b1aa1d7] {
  width: 30px;
  height: 30px;
}
.pic-list-t1[data-v-2b1aa1d7] {
  margin: 10px 0;
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
  max-height: 70vh;
}
.pic-list-t2 .img-item-t1[data-v-2b1aa1d7] {
  width: 46%;
  display: flex;
}
.pic-list-t2 .img-item-t1[data-v-2b1aa1d7] .el-image {
  width: 28%;
}
.pic-list-t2 .img-item-t1[data-v-2b1aa1d7] .el-image img.el-image__inner {
  width: 100%;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}
.pic-list-t2 .img-item-t1[data-v-2b1aa1d7] .item-t {
  flex: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px 0;
}
.pic-list-t2 .img-item-t1[data-v-2b1aa1d7] .item-t .pic-tit {
  border: none;
}
.tpxq_w[data-v-2b1aa1d7] {
  line-height: 20px;
}
@media only screen and (max-width: 537px) {
.inp-w[data-v-2b1aa1d7] {
    padding-top: 20px;
}
}

