.el-collapse-item[data-v-4c16d965] {
  color: var(--b2-text);
}
.el-collapse-item[data-v-4c16d965] .el-collapse-item__header {
  font-size: 16px;
  font-weight: bold;
  height: 68px;
  line-height: 68px;
  padding-left: 20px;
  background-color: var(--b2-bg);
  color: var(--b2-text);
  border-bottom: 1px solid var(--b2-border);
}
.el-collapse-item[data-v-4c16d965] .el-form-item__label {
  color: var(--b2-text);
}
.el-collapse-item[data-v-4c16d965] .el-collapse-item__content {
  padding-left: 5px;
  color: var(--b2-text);
}
.el-collapse-item[data-v-4c16d965] .el-collapse-item__wrap {
  background-color: var(--b2-pre-bg);
}
.el-collapse[data-v-4c16d965] {
  margin: 0 20px;
  height: 70vh;
  max-height: 70vh;
  overflow: auto;
  border-top: 1px solid var(--b2-border);
  border-bottom: 1px solid var(--b2-border);
}
.el-collapse[data-v-4c16d965] .el-select {
  margin-top: 10px;
  margin-right: 10px;
}
.el-collapse h2[data-v-4c16d965] {
  margin-top: 10px;
  padding-left: 10px;
  font-size: 15px;
  font-weight: bold;
  border-left: 5px solid var(--b2-theme-c);
}
.set-tit[data-v-4c16d965] {
  font-size: 3rem;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  margin: 20px 0;
}
.form-w p[data-v-4c16d965] {
  padding: 5px;
}

.set-prefix .el-input[data-v-6ff34b10] {
  width: 217px;
  margin-right: 10px;
}

.set-defalut .el-cascader[data-v-04bbfc34],
.set-defalut .el-input[data-v-04bbfc34] {
  width: 249px;
  margin-top: 20px;
  margin-right: 10px;
}

.set-commpress[data-v-8fe18032] {
  padding: 10px 0;
}
.block-compress[data-v-8fe18032] {
  padding: 20px 0;
}
.slide-w[data-v-8fe18032] {
  padding: 0 20px;
  width: 50%;
}
@media only screen and (max-width: 537px) {
.slide-w[data-v-8fe18032] {
    padding: 0 5px;
    width: 100%;
    box-sizing: border-box;
}
}

.set-upload .el-input[data-v-ef07802c] {
  width: 249px;
  margin-right: 10px;
}

.el-collapse-item[data-v-0e0ad9a7] {
  color: var(--b2-text);
}
.el-collapse-item[data-v-0e0ad9a7] .el-collapse-item__header {
  font-size: 16px;
  font-weight: bold;
  height: 68px;
  line-height: 68px;
  padding-left: 20px;
  background-color: var(--b2-bg);
  color: var(--b2-text);
  border-bottom: 1px solid var(--b2-border);
}
.el-collapse-item[data-v-0e0ad9a7] .el-form-item__label {
  color: var(--b2-text);
}
.el-collapse-item[data-v-0e0ad9a7] .el-collapse-item__content {
  padding-left: 5px;
  color: var(--b2-text);
}
.el-collapse-item[data-v-0e0ad9a7] .el-collapse-item__wrap {
  background-color: var(--b2-pre-bg);
}
.el-collapse[data-v-0e0ad9a7] {
  margin: 0 20px;
  height: 70vh;
  max-height: 70vh;
  overflow: auto;
  border-top: 1px solid var(--b2-border);
  border-bottom: 1px solid var(--b2-border);
}
.el-collapse[data-v-0e0ad9a7] .el-select {
  margin-top: 10px;
  margin-right: 10px;
}
.el-collapse h2[data-v-0e0ad9a7] {
  margin-top: 10px;
  margin-bottom: 20px;
  padding-left: 10px;
  font-size: 15px;
  font-weight: bold;
  border-left: 5px solid var(--b2-theme-c);
}
.set-tit[data-v-0e0ad9a7] {
  font-size: 3rem;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  margin: 20px 0;
}

