.el-image {
  width: 100%;

  /deep/ img.el-image__inner {
    width: 92%;
    height: 155px;
    border-radius: 10px;
    object-fit: cover;
  }
}

.pic-tit {
  padding: 10px 0;
  overflow: hidden; //超出的文本隐藏
  text-overflow: ellipsis; //溢出用省略号显示
  white-space: nowrap; //溢出不换行
  border-bottom: 1px dashed #f2f2f2;
}

.time-span {
  position: absolute;
  padding: 2px 6px;
  background: var(--b2-btn-time);
  border-radius: 8px;
  margin-left: 0;
  font-size: .5rem;
  font-weight: 700;
  color: #fff;
  bottom: 32%;
  right: 6%;
  backdrop-filter: saturate(180%) blur(20px);
  z-index: 2;
}

&:hover {

  /deep/ .more-w,
  /deep/ .el-checkbox__inner {
    box-shadow: 0 0 5px 0 #ccc;
    transition: all .4s ease-in;
    opacity: 1;
  }
}