.el-collapse-item {
    color: var(--b2-text);
  
    /deep/ .el-collapse-item__header {
      font-size: 16px;
      font-weight: bold;
      height: 68px;
      line-height: 68px;
      padding-left: 20px;
      background-color: var(--b2-bg);
      color: var(--b2-text);
      border-bottom: 1px solid var(--b2-border);
    }
  
    /deep/ .el-form-item__label {
      color: var(--b2-text);
    }
  
    /deep/ .el-collapse-item__content {
      padding-left: 5px;
      color: var(--b2-text);
    }
  
    /deep/ .el-collapse-item__wrap {
      background-color: var(--b2-pre-bg);
    }
  }
  
  .el-collapse {
    margin: 0 20px;
    height: 70vh;
    max-height: 70vh;
    overflow: auto;
    border-top: 1px solid var(--b2-border);
    border-bottom: 1px solid var(--b2-border);
  
    /deep/ .el-select {
      margin-top: 10px;
      margin-right: 10px;
    }
  
    h2 {
      margin-top: 10px;
      margin-bottom: 20px;
      padding-left: 10px;
      font-size: 15px;
      font-weight: bold;
      border-left: 5px solid var(--b2-theme-c);
    }
  }
  
  .set-tit {
    font-size: 3rem;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin: 20px 0;
  }